@page
@model RBT.App.Frontend.Pages.VehiculoPage.Vehiculo
@{
    ViewData["Title"] = "Vehiculo";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="text-center">PLACA</h1>
    <input type="text" name="texto">
</div>
<div class="text-center">
    <h1 class="text-center">TIPO DE VEHICULO</h1>
    <input type="text" name="texto">
</div>
<div class="text-center">
    <h1 class="text-center">MARCA</h1>
    <input type="text" name="texto">
</div>
<div class="text-center">
    <h1 class="text-center">NUMERO DE PASAJEROS</h1>
    <input type="number" name="numero">
</div>
<div class="text-center">
    <h1 class="text-center">CILINDRAJE</h1>
    <input type="number" name="numero">
</div>
<div class="text-center">
    <h1 class="text-center">PAIS DE ORIGEN</h1>
    <input type="text" name="texto">
</div>
<div class="text-center">
    <h1 class="text-center">OTRAS CARACTERISTICAS</h1>
    <input type="text" name="texto">
</div>
<div class="text-center-right">
<button>
<input type="submit" value="Guardar">
</button>
</div>
<div  class="text-center-left">
<button type="reset">
<input type="reset" value="Borrar">
</button>
</div>
<div  class="text-center-left">
<input type="to update" value="Actualizar">
</button>
</div>