@page
@model RBT.App.Frontend.Pages.ReparacionPage.Reparacion
@{
    ViewData["Title"] = "Reparacion";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="text-center">FECHA DE REPARACION</h1>
     <input type="date">
</div>
<div class="text-center">
    <h1 class="text-center">REPUESTOS CAMBIADOS</h1>
    <textarea name="texto" rows="4" cols="40" placeholder="Repuestos"></textarea>
</div>
<div class="text-center-right">
<button>
<input type="submit" value="Guardar">
</button>
</div>
<div  class="text-center-left">
<button type="reset">
<p><input type="reset" value="Borrar"></p>
</button>
</div>
<div  class="text-center-left">
<p><input type="to update" value="Actualizar"></p>
</button>
</div>