@page
@model RBT.App.Frontend.Pages.MecanicoPage.Mecanico
@{
    ViewData["Title"] = "Mecanico";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1>@ViewData["Auxiliar Mecanico"]</h1>
    <h1 class="text-center">NOMBRES</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">APELLIDOS</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">TELEFONO</h1>
     <input type="number"> .
</div>
<div class="text-center">
    <h1 class="text-center">FECHA DE NACIMIENTO</h1>
     <input type="date">
</div>
<div class="text-center">
<input type="radio" name="boton" value="2">BACHILLER<br>
<input type="radio" name="boton" value="1">TÉCNICO<br>
<input type="radio" name="boton" value="2">TÉCNOLOGO<br>
<input type="radio" name="boton" value="3">PROFESIONAL
</div>
<div class="text-center">
    <input type="text" name="texto" value="dirección">
</div>
<div class="text-center-right">
<button>
<input type="submit" value="Guardar">
</button>
</div>
<div  class="text-center-left">
<button type="reset">
<p><input type="reset" value="Borrar"></p>
</button>
</div>
<div  class="text-center-left">
<p><input type="to update" value="Actualizar"></p>
</button>
</div>
