@page
@model RBT.App.Frontend.Pages.AuxiliarPage.Auxiliar
@{
    ViewData["AUXILIAR"] = "Auxiliar";
}

<h1>@ViewData["TITULO"]</h1>

<div class="text-center">
    <h1 class="text-center">NOMBRES</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">APELLIDOS</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">TELEFONO</h1>
     <input type="number"> .
</div>
<div class="text-center">
    <h1 class="text-center">FECHA DE NACIMIENTO</h1>
     <input type="date">
</div>
<div class="text-center">
<button>
<input type="submit" value="Guardar">
</button>
</div>
<div  class="text-center">
<button type="reset">
<input type="reset" value="Borrar">
</button>
</div>
<div  class="text-center">
<input type="to update" value="Actualizar">
</button>
</div>

