@page
@model RBT.App.Frontend.Pages.PropietarioPage.Propietario
@{
    ViewData["Title"] = "Propietario";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1>@ViewData["Auxiliar Mecanico"]</h1>
    <h1 class="text-center">NOMBRES</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">APELLIDOS</h1>
     <input type="text"> <input text> 
</div>
<div class="text-center">
    <h1 class="text-center">TELEFONO</h1>
     <input type="number"> .
</div>
<div class="text-center">
    <h1 class="text-center">FECHA DE NACIMIENTO</h1>
     <input type="date">
</div>
<div class="text-center">
    <h1 class="text-center">CIUDAD DE ORIGEN</h1>
     <input type="text" name="texto" value="CIUDAD">
</div>
<div class="text-center">
    <h1 class="text-center">CORREO ELECTRONICO</h1>
    <input type="text" name="texto" value="E-MAIL">
</div>
