@page
@model RBT.App.Frontend.Pages.MantenimientoPage.CrearMantenimiento
@{
    ViewData["Title"] = "CrearMantenimiento";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="CreateMant.NivelAceite">Nivel Aceite:</label>
        <input asp-for="CreateMant.NivelAceite" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.NivelAceite"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateMant.NivelLiquidoFrenos">Nivel Liquido Frenos:</label>
        <input asp-for="CreateMant.NivelLiquidoFrenos" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.NivelLiquidoFrenos"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateMant.NivelRefrigerante">Nivel Refrigerante:</label>
        <input asp-for="CreateMant.NivelRefrigerante" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.NivelRefrigerante"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateMant.NivelLiquidoDireccion">Nivel Liquido Direccion:</label>
        <input asp-for="CreateMant.NivelLiquidoDireccion" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.NivelLiquidoDireccion"></span>
    </div>
     <div class="form-group">
        <label asp-for="CreateMant.FechaMantenimiento">Fecha Mantenimiento:</label>
        <input asp-for="CreateMant.FechaMantenimiento" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.FechaMantenimiento"></span>
    </div>
     <div class="form-group">
        <label asp-for="CreateMant.vehiculoId">vehiculo Id:</label>
        <input asp-for="CreateMant.vehiculoId" class="form-control">
        <span class="text-danger" asp-validation-for="CreateMant.vehiculoId"></span>
    </div>
     
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
<a asp-page="./ListarMantenimiento" class="btn-default">Lista</a>
