@page
@model RBT.App.Frontend.Pages.UsuarioAppPage.CrearUsuarioApp
@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>@ViewData["Title"]</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="CreateUsu.Nombres">Nombres:</label>
        <input asp-for="CreateUsu.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="CreateUsu.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateUsu.Apellidos">Apellidos:</label>
        <input asp-for="CreateUsu.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="CreateUsu.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateUsu.Telefono">Telefono:</label>
        <input asp-for="CreateUsu.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="CreateUsu.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreateUsu.FechaNacimiento">FechaNacimiento:</label>
        <input asp-for="CreateUsu.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="CreateUsu.FechaNacimiento"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
<a asp-page="./ListarUsuarioApp" class="btn-default">Lista</a>
  <body style="background-image: url(../../Views/Home/https://p4.wallpaperbetter.com/wallpaper/254/978/507/blue-car-car-repair-workshop-workshop-car-wallpaper-preview.jpg)">

</body>
