@page
@model RBT.App.Frontend.Pages.UsuarioAppPage.EditarUsuarioApp
@{
    ViewData["Title"] = "EditarUsuarioApp";
}

<h1>@ViewData["Title"]</h1>



<form method="post">
    <input type="hidden" asp-for="EditUsu.Id">
    
    <div class="form-group">
        <label asp-for="EditUsu.Nombres">Nombres:</label>
        <input asp-for="EditUsu.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="EditUsu.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditUsu.Apellidos">Apellidos:</label>
        <input asp-for="EditUsu.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="EditUsu.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditUsu.Telefono">Telefono:</label>
        <input asp-for="EditUsu.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="EditUsu.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditUsu.FechaNacimiento">Fecha de Nacimiento:</label>
        <input asp-for="EditUsu.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="EditUsu.FechaNacimiento"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<a asp-page="./ListarUsuarioApp" class="btn-default">Lista</a>
