/* _content/RBT.App.Frontend/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ly9ejew618] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ly9ejew618] {
  color: #0077cc;
}

.btn-primary[b-ly9ejew618] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ly9ejew618], .nav-pills .show > .nav-link[b-ly9ejew618] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ly9ejew618] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ly9ejew618] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ly9ejew618] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ly9ejew618] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ly9ejew618] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
#login-box[b-ly9ejew618] {
  border: 1px solid blue;
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 15%;
  background: #00000080;
  padding: 20px 50px;
}
#login-box h1[b-ly9ejew618] {
  color: white;
}
