@page
@model RBT.App.Frontend.Pages.LogInMenuModel
@{
}

<h1> Página de Inicio de Sesion </h1>

<form action=pagian method="post">
    <div class="form-block">
        <input type="name" name="name" class="form-control" placeholder="Nombre">
    </div>
    <div class="form-block">
        <input type="email" name="email" class="form-control" placeholder="Correo">
    </div>
    <div class="form-block">
        <input type="phone" name="phone" class="form-control" placeholder="Celular">
    </div>
    <div class="form-block">
        <textarea name="message" placeholder="message"></textarea>
    </div>
    <div class="form-block bloque-ultimo">
        <input type="submit" class="boton boton-negro" value="Enviar">
    </div>
</form>
