@page
@model RBT.App.Frontend.Pages.JefeOperacionesPage.EditarJefeOperaciones
@{
    ViewData["Title"] = "EditarJefeOperaciones";
}

<h1>@ViewData["Title"]</h1>



<form method="post">
    <input type="hidden" asp-for="EditJefeOp.Id">
    
    <div class="form-group">
        <label asp-for="EditJefeOp.Nombres">Nombres:</label>
        <input asp-for="EditJefeOp.Nombres" class="form-control">
        <span class="text-danger" asp-validation-for="EditJefeOp.Nombres"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditJefeOp.Apellidos">Apellidos:</label>
        <input asp-for="EditJefeOp.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="EditJefeOp.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditJefeOp.Telefono">Telefono:</label>
        <input asp-for="EditJefeOp.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="EditJefeOp.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditJefeOp.FechaNacimiento">Fecha de Nacimiento:</label>
        <input asp-for="EditJefeOp.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="EditJefeOp.FechaNacimiento"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Editar</button>
</form>
<a asp-page="./ListarJefeOperaciones" class="btn-default">Lista</a>
<body>
      <style>
      body {
  background-image: url('https://th.bing.com/th/id/OIP.SCnDhYg9HcUUfvAxrW57PgHaEo?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  } 
  </style>
</body>
